/* 共通設定 */

* {
    box-sizing: border-box;
}


/* 
/* タブッレト用 */
/* @media (max-width: 1000px) { */
    /* 確認用 */
    /* h1 {
        color:blue;
    } */
    /* works */
    /* #works li  {
        width: 50%;
    }

} */
 


/* スマホ用 */
@media (max-width: 670px) {
    /* 確認用 */
    h1 {
        color:red;
    }
    /* hamburger用 */
    .pc li {
        display: none;
    }
    
    #header {
        height: 60px;
        width: 100%;
        padding: 0 15px;
        position: fixed;
        background-color: dimgrey;
        top: 0;
        z-index: 10;
        display: flex;
    }
    #header h1 {
        color: white;
    }
    
    #hamburger {
        background-color: transparent;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 auto;
        height: 60px;
        width: 60px;
    }

    .icon span {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 8px;
        transition: ease 0.75s;
    }

    .icon span:nth-of-type(1) {
        top: 16px;
    }
    .icon span:nth-of-type(2) {
        top: 28px;
    }
    .icon span:nth-of-type(3) {
        bottom: 16px;
    }

    .close span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 28px;
    }
    .close span:nth-of-type(2) {
        opacity: 0;
    }
    .close span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
    }

    .sm {
        top: 60px;
        right: 0px;
        position: absolute;
        z-index: 10;
        width: 30%;
        background-color: dimgray;
    }
    
    .sm ul {
        flex-direction: column;       
    }
    .sm li {
        font-size: 10px;
        color: white;       
    }

    .sm a {
        text-align: center;
        border-top: solid 0.5px rgba(255, 255, 255, 0.6);
    }
    
    /* works */
    /* #works li {
        width: 100%;
        text-align: center;
    } */

    #header h1{
        font-size: 20px;

    }


    /* #profile .box{
        display: flex;
    } */
    #profile img{
        position: initial;
        margin: 0px auto;
    }
    #profile ul{
        text-align: center;
        margin:10px 10px;
    }

    #works ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
   #works img{
       margin: 0 auto;
   }
}




/* 
/* タブッレト用 */
/* @media (max-width: 1000px) { */
    /* 確認用 */
    /* h1 {
        color:blue;
    } */
    /* works */
    /* #works li  {
        width: 50%;
    }

} */
 
